:root{
  /* ===== Colors ===== */

  --body-color: #18191a;
  --body-color-2: #0500FF;
  --sidebar-color: #323d4c;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #ffffff;
  --text-color: #ccc;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

*{
  margin: 0;
  color: var(--text-color);
}

.app{
  display: flex;
  flex-direction: column;
}